* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.button{
    flex: 1;
    height: 85px;
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    border-color: black;
    font-size: 25px;
}

#Row1 .button{
    width: 211px;
    height: 75px;
} 
#Screen,#Row1,#Row2,#Row3,#Row4,#Row5{
    display: flex;
}

#Screen{
    margin: 3px;
    width:430px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#Calculator{
    width:fit-content;
    
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: rgb(182, 182, 182);
    
}
